/* Google fonts  */
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/* shared styles */
  body{font-family: 'Work Sans', sans-serif;}
  *{padding: 0;margin: 0;
  }

  .btn-primary{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E;
    width: 180px;
    height: 64px;
    cursor: pointer;
    /* flex-shrink: 0; */
    border: none;
}
.p-commen-cless{
  color: var(--dark-03, #727272);
  font-size: 20px;
  font-weight: 400;
  margin: 24px auto;
}
.h3-commen-cless{
  color: var(--dark-01, #131313);
  font-size: 45px;
  font-weight: 700;

}
.h4-common-class{
    color: var(--dark-01, #131313);
    font-size: 35px;
    font-weight: 600;

}

img{width: 100%; height: 100%;}
.fix-width{
  width: 1400px;
  margin: 0 auto;
}

  /*Header Section stated */

  header{
    background: rgba(255, 144, 14, 0.10);
    width: 1920px;
    margin: 0 auto;
  }

  nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  nav h3{
    color: var(--dark-01, #131313);
    font-size: 45px;
    font-weight: 700;

  }
  nav ul{
    display: flex;
    list-style: none;
    width: 477px;
    justify-content: space-between;
  }
  nav ul li{margin-right:15px ;}
  nav ul li a{
    color: var(--dark-02, #424242);
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;

  }
  /* Banner section stated */
  .banner-titel{
    width: 868px;
    margin:0 auto ;
    text-align: center;
  }
  .banner-titel h1{
    color: var(--dark-01, #131313);
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    padding-top: 50px;
  }
  .banner-titel p{
    color: var(--dark-03, #727272);
    font-size: 16px;
    font-weight: 400;
    margin: 15px 0;
  }
  .banner-img{
    width: 1440px;
    height:auto;
    margin: 0px auto;
    padding: 45px;
  }

  /* main section stated */
  main{
    width: 1920px;
    margin: 50px auto;
  }
  /* features sections starts */
  .teams-container{
    width: 1400px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
  }
  .times-img-container{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 24px;
    width: 100%;
  }
  .teams-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  
  }
  .item-tag{
    margin-left: 100px;
  }
  .item-tag .quick-list{
    color: var(--dark-03, #727272);
    font-size: 45px;
    font-weight: 500;
    
  }
  .item-tag .of-our{
    color: var(--dark-01, #131313);
    font-size: 45px;
    font-weight: 700;
  }
  .item-tag .Features{
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
  }
  /* Some Facts section */
  .some-facts{margin: 50px auto;}
  /* Features you will love  section stated */
  .features{
    margin: 50px auto;
    display: flex;
    gap: 50px;
  }
  .features h3{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
  }
  .features p{
    width: 586px;
    margin-left: 0;
  }
  .features-left{
    margin-top: 20px;
  }
  .features-card{
    width: 586px;
    padding: 30px;
    margin: 10px 0;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  }
  .features-rigth{
    position: relative;

  }
  .features-rigth img{
    margin-left: 100px;
  }
  .featuer-10-year{
    background-color: #FF900E;
    width: 342px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 11px;
    bottom: -67px;
  }
  .featuer-10-year h1{
    color: #FFF;
    /* text-align: center; */
    font-size: 65px;
    font-weight: 700;
  }
  .featuer-10-year{
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
  }
  /* Some Facts section stated */
    .some-facts{
      margin:200px auto ;
    }
  /* facts-card-container stated  */
  .facts-card-container{
    display: flex;
    justify-content: space-around;
  }
  .facts-card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 50px 30px;
    width:auto;
  }
  .card .card-img{
    width: 60px;
    margin: 5px auto;
  }
  .card .card-stats{
    color: var(--dark-02, #424242);
    font-size: 40px;
    font-weight: 600;
    margin: 10px auto;

  }
  .card .card-title{
    color: var(--dark-03, #727272);
    font-size: 20px;
    font-weight: 600;
  }

  /* Our Sponspors section stated  */
  .our-sponspors{
    text-align: center;
  }
  /* our sponspors img */
  .our-sponspors-img{
    display: flex;
    justify-content: space-between;
  }

  /* footer section */
  footer{
    width: 1920px;
    margin: 10px auto;
    
  }
  .footer-item{ 
    text-align: center;
    background-color: #FFF4E7;
    padding: 8px 0;
    
  }

  /* responsive media queries stated */

  /* mobile device media query */
  @media screen and (max-width:576px) {
    .btn-primary{
      color: #FFF;
      font-size: 10px;
      font-weight: 600;
      border-radius: 8px;
      background: #FF900E;
      width: auto;
      height: auto;
      padding: 10px 15px;
  }
    header
    {
        width:auto;
        margin: 0;
      }
    nav{
        flex-direction: column;
    }
    nav h3{font-size: 20px;}
    nav ul{
      width: auto;
      justify-content: space-between;
    }
    /* banner section */
    .banner-titel{
        width: auto;
        padding: 20px;
    }
    .banner-titel h1{font-size: 20px;}
    .banner-titel p{font-size: 10px;}
    .banner-img{
        width:auto;
        
    }
    .banner-img{
      width:auto;
      height:auto;
      margin: 0px auto;
      padding:0;
    }

    /* main and features */
    main{
      width:auto;
      margin:30px 0;
    }
    .teams-container{
      width:auto;
      margin:0;
      display: flex;
      flex-direction: column;
      gap:0;
    }
    .times-img-container{
      display: grid;
      grid-template-columns:  1fr;
      gap: 15px;
      width: 100%;
    }
    
    .teams-content{
      display:flex;
      flex-direction: column;
      justify-content: center;
      width:100%;
    
    }
    .item-tag{
      margin-left: 0px;
      text-align: center;
      margin-top: 20px;
      
    }
    .item-tag .quick-list{
      color: var(--dark-03, #727272);
      font-size:20px;
      font-weight: 500;
      
    }
    .item-tag .of-our{
      color: var(--dark-01, #131313);
      font-size: 20px;
      font-weight: 700;
    }
    .item-tag .Features{
      color: #FF900E;
      font-size: 20px;
      font-weight: 700;
    }
    .p-commen-cless{
      color: var(--dark-03, #727272);
      font-size: 10px;
      font-weight: 400;
      margin: 15px auto;
    }
    /* Some Facts section */
    .fix-width{
      width: auto;
    }
    .facts-card-container{
      flex-direction: column;
      gap: 15px;
    }
    .facts-card-container .card{
      border: none;
      padding: 20px 10px;
    }
    .facts-card-container .card{
      /* padding: 50px 30px; */
      padding:20px 0;
    }
    .some-facts{text-align: center;}
    /* Our Sponspors section stated */
    .our-sponspors-img{
      flex-direction: column;
    }
    .our-sponspors-img img{
      width: 160px;
      margin: 15px auto;
    }

    .fix-width{
      width: auto;
    }
    /* Features you will love  section  stated */
    .features{
      flex-direction: column;
    }
    .features-left{text-align: center;}
    .features-rigth img{
      width: 100%;
      margin-left: 0;
    }
    .features p{
      width: auto;
      margin: 20px auto;
    }
    .features-card{
      width: auto;}
        /* footer section */
  footer{
    width: auto;
  }
  .footer-item{ 
    width:100%;
  }

  }
/* Tablet device media query */
@media screen and (min-width:576px) and (max-width:976px){
    /* header{
        width:auto;
      }
    nav{
        flex-direction: column;
    }
    .banner-titel{
        width: auto;
        padding: 20px;
    }
    .banner-img{
        width: auto;
    } */
    .btn-primary{
      color: #FFF;
      font-size: 10px;
      font-weight: 600;
      border-radius: 8px;
      background: #FF900E;
      width: auto;
      height: auto;
      padding: 10px 15px;
  }
    header
    {
        width:auto;
        margin: 0;
      }
    nav{
        flex-direction: column;
    }
    nav h3{font-size: 20px;}
    nav ul{
      width: auto;
      justify-content: space-between;
    }
    /* banner section */
    .banner-titel{
        width: auto;
        padding: 20px;
    }
    .banner-titel h1{font-size: 20px;}
    .banner-titel p{font-size: 10px;}
    .banner-img{
        width: auto;
    }
    .banner-img{
      width:auto;
      height:auto;
      margin: 0px auto;
      padding:0;
      border: 2px solid fuchsia;
    }

    /* main and features */
    main{
      width:auto;
      margin:30px 0;
    }
    .teams-container{
      width:auto;
      margin:0;
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      padding-right: 10px;
    }
    .times-img-container{
      display: grid;
      grid-template-columns: 1fr;
      gap: 15px;
      width: 100%;
    }
    
    .teams-content{
      display:flex;
      flex-direction: column;
      justify-content: center;
      width:100%;
    
    }
    .item-tag{
      margin-left: 0px;
      text-align: center;
      margin-top: 20px;
      
    }
    .item-tag .quick-list{
      color: var(--dark-03, #727272);
      font-size:20px;
      font-weight: 500;
      
    }
    .item-tag .of-our{
      color: var(--dark-01, #131313);
      font-size: 20px;
      font-weight: 700;
    }
    .item-tag .Features{
      color: #FF900E;
      font-size: 20px;
      font-weight: 700;
    }
    .p-commen-cless{
      color: var(--dark-03, #727272);
      font-size: 10px;
      font-weight: 400;
      margin: 15px auto;
    }
    /* Some Facts section */
    .fix-width{
      width: auto;
    }
    .facts-card-container{
      flex-direction: column;
      gap: 15px;
    }
    .facts-card-container .card{
      border: none;
      padding: 30px 10px;
    }
    .some-facts{text-align: center;}

     /* Our Sponspors section stated */
     .our-sponspors-img{
      flex-direction: column;
    }
    .our-sponspors-img img{
      width: 160px;
      margin: 15px auto;
    }

    .fix-width{
      width: auto;
    }
    .features{
      flex-direction: column;
    }
 /* footer section */
  footer{
    width: auto;
  }
  .footer-item{ 
    width:100%;
  }
}

